body {
  margin:0;
  background-image: url("../library.jpg");
}
.nav-wrapper {
  overflow: hidden;
  background-color: #800000;
}
.topnav {
  overflow: hidden;
  background-color: #800000;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #808080;
  color: black;
}
.centered {
    text-align: center;
}
.header {
    margin: 0 auto;
    text-align: center;
    background-color: #8B0000;
    padding: 1px;
    color: #FAFAFA;
}
.dropdown {
    overflow: hidden;
    background-color: #800000;
    margin: 0 auto;
    padding: 0;
}
.dropdown .dropbtn {
      cursor: pointer;
      font-size: 16px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
}

.dropdown:hover .dropbtn {
     background-color: #808080;
      color: black;
}

.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}
.dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
}
.dropdown-content a:hover {
      background-color: #ddd;
  }
.show {
    display: block;
}