.indent-small {
  margin-left: 5px;
}
.form-group.internal {
  margin-bottom: 0;
}

.dialog-panel {
  margin: 10px;
  border-color: #000000;
  background-image: url("../paper.gif");
}
.container {
	margin: 10px auto;
}
.dialog-panel .panel-heading {
	background-color: #800000;
}
.form-group .btn-primary {
	background-color: #800000;
	border-color: #000000;
}
.error {
	width: 25%;
	height: 43px;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 15px;
}
.confirm {
	width: 25%;
	height: 43px;
	margin: 0px auto;
	padding: 10px;
	border: 2px solid #5BC85B;
	color: #137B13;
	background: #90EE90;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 15px;
}
body {
	background-image: url("../fins.jpg");
}
