.indent-small {
  margin-left: 5px;
}
.form-group.internal {
  margin-bottom: 0;
}
.dialog-panel {
  margin: 10px;
  border-color: #000000;
  background-image: url("../paper.gif");
}
.container {
	margin: 10px auto;
  width: 120%;
}
.dialog-panel .panel-heading {
	background-color: #800000;
}
.form-group .btn-primary {
	background-color: #800000;
	border-color: #000000;
}
table, th, td {
    border: 1px solid black;
    margin: 0px auto;
}

th {
  padding:0 30px 0 28px;
}
td {
  padding:0 0px 0 15px;
}

body {
  margin:0;
}
.content {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.nav-wrapper {
  overflow: hidden;
  background-color: #800000;
}
.topnav {
  overflow: hidden;
  background-color: #800000;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #808080;
  color: black;
}
.centered {
    text-align: center;
}
.header {
    margin: 0 auto;
    text-align: center;
    background-color: #8B0000;
    padding: 1px;
    color: #FAFAFA;
}
body {
  background-image: url("../fins.jpg");
}
