body {
  padding: 0;
  margin: 0;
  background-image: url("../library.jpg");
  background-attachment: fixed;
}
.centered {
    text-align: center;
}
.header {
    margin: 0 auto;
    text-align: center;
    background-color: #8B0000;
    padding: 1px;
    color: #FAFAFA;
}
.nav-wrapper {
  overflow: hidden;
  background-color: #800000;
}
.topnav {
  overflow: hidden;
  background-color: #800000;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #808080;
  color: black;
}

/*Login CSS*/
.dropdown {
  overflow: hidden;
  background-color: #800000;
  margin: 0 auto;
  padding: 0;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    right:-1px;
}
.container a:hover, .dropdown:hover .dropbtn {
    background-color: #808080;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
h3 {
 margin-left: 20px;
}
.title {
  margin-left: 20px;
  font-size: 140%
}
.head-wrap {
  border: 1px solid black;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 150px;
  border-radius: 15px;
  font-weight: bold;
  background-color: #8B0000;
  color: #FAFAFA;
}
.para-wrapper {
  border: 1px solid black;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-image: url("../paper.gif");
}
.paragraph {
  margin-left: 20px;
  text-indent:  100px;
  margin-right: 20px;
  text-align: justify;
}